.card {
  display: flex;
  border: solid 1px #e6e6e6;
  border-radius: 20px;
  margin: 0 5px 15px 5px;
  .leftSide {
    border-right: solid 1px #e6e6e6;
    .profilPicture {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
      padding: 5px;
    }
  }
  .rightSide {
    width: 100%;
    .headPost {
      display: flex;
      border-bottom: solid 1px #e6e6e6;
      padding: 5px;
    }
    .mainPost {
      padding: 5px;
      text-align: initial;
    }
    .footPost {
      display: flex;
      border-top: solid 1px #e6e6e6;
      padding: 5px;
    }
  }
}
